.navbar {
    background-color: "transparent";
    transition: 1s ease;
    z-index: 100;
  }
  
  .navbar.scrolling {
    /* background-color: black; */
    background-color: #ffe0d2;
    opacity: 0.97;
    /* z-index: 99; */
  }

  /* .item{
    color: white;
  } */
