.navbar {
    background-color: "transparent";
    transition: 0.5s ease;
    z-index: 100;
    
  }
  
  .navbar.scrolling {
    background-color: #F5E9E4;
    /* z-index: 99; */

  }

  /* .item{
    color: white;
  } */
