.navbar {
    background-color: "transparent";
    transition: 0.5s ease;
    z-index: 100;
  }
  
  .navbar.scrolling {
    background-color: #294B29;
    /* z-index: 99; */
    color: white;
  }

  /* .item{
    color: white;
  } */
